<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.itemis.eclipse.saveactions.Activator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="de.itemis.eclipse.saveactions.commands.category">
      </category>
      <command
            name="%command.name"
            categoryId="de.itemis.eclipse.saveactions.commands.category"
            id="de.itemis.eclipse.saveactions.commands.toggleSaveActions">
               <state class="org.eclipse.jface.commands.ToggleState" 
               	id="STYLE"/>
      </command>
   </extension>
   
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
		class="de.itemis.eclipse.saveactions.internal.ProjectSaveActionsTester"
		id="de.itemis.eclipse.saveactions.ProjectSaveActionsTester"
		namespace="de.itemis.eclipse.saveactions"
		properties="projectSaveActionsEnabled"
		type="org.eclipse.ui.IEditorPart"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.itemis.eclipse.saveactions.commands.toggleSaveActions"
            class="de.itemis.eclipse.saveactions.internal.ToggleSaveActionsHandler">
         <activeWhen>
         	<and>
         		<or>
		          	<with variable="activeEditorId">
		       			<equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
		    		</with>
		          	<with variable="activeEditorId">
		       			<equals value="com.google.gwt.eclipse.core.editors.gwtJavaEditor"/>
		    		</with>
	    		</or>
	    		<not>
         			<with variable="activeEditor">
         				<test property="de.itemis.eclipse.saveactions.projectSaveActionsEnabled" forcePluginActivation="true" />
         			</with>
         		</not>
         	</and>
         <!--
           <adapt type="org.eclipse.core.resources.IFile">
			         <test property="de.itemis.eclipse.saveactions.projectSaveActionsEnabled" forcePluginActivation="true">
			         </test>
		         </adapt>
		         -->
         </activeWhen>
         <enabledWhen>
         <!--
         
         	<and>
         	
         	http://blog.eclipse-tips.com/2009/12/toggle-commands-toggle-other.html
         	-->
		        <!-- org.eclipse.core.resources.mapping.ResourceMapping -->
		        <!-- org.eclipse.core.resources.IResource -->
		        <!-- org.eclipse.jdt.ui/editor_save_participant_org.eclipse.jdt.ui.postsavelistener.cleanup,true -->
			         <!--
		         <adapt type="org.eclipse.core.resources.IFile">
			         <test property="de.itemis.eclipse.saveactions.projectSaveActionsEnabled" forcePluginActivation="true">
			         </test>
		         </adapt>
	                 <or>
			         <test property="org.eclipse.core.resources.projectPersistentProperty" forcePluginActivation="true"
			               args="org.eclipse.jdt.ui.editor_save_participant_org.eclipse.jdt.ui.postsavelistener.cleanup,true">
			         </test>
			         </or>
			         ...
			         <test property="org.eclipse.core.resources.projectPersistentProperty" 
			               args="editor_save_participant_org.eclipse.jdt.ui.postsavelistener.cleanup,true">
			         </test>
			         <test property="org.eclipse.core.resources.projectSessionProperty" 
			               args="org.eclipse.jdt.ui/editor_save_participant_org.eclipse.jdt.ui.postsavelistener.cleanup,true">
			         </test>
			         <test property="org.eclipse.core.resources.projectPersistentProperty" 
			               args="org.eclipse.jdt.ui/editor_save_participant_org.eclipse.jdt.ui.postsavelistener.cleanup,true">
			         </test>
			         -->
    		<!--
    		</and>
    		-->
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.itemis.eclipse.saveactions.commands.toggleSaveActions"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+Shift+#"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.itemis.eclipse.saveactions.commands.toggleSaveActions"
            icon="icons/page_gear.png" style="toggle">
      </image>
   </extension>
   -->
<!--            
            locationURI="toolbar:org.eclipse.ui.edit.text.actionSet.presentation?after=org.eclipse.jdt.ui.edit.text.java.toggleMarkOccurrences">
            -->
            
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.itemis.eclipse.saveactions.toolbars.saveActionsToolbar">
            <command
                  commandId="de.itemis.eclipse.saveactions.commands.toggleSaveActions"
                  icon="icons/page_gear.png"
                  id="de.itemis.eclipse.saveactions.toolbars.toggleSaveActionsToolbarCommand"
                  style="toggle"
                  tooltip="%command.tooltip">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   

</plugin>
